@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.formulario {
  width: 250px;
  height: 200px;
  background-color: #dee2e653;
  border: 2px solid #dee2e653;
  border-radius: 9px;
  margin: 20vh 40vw;
  padding: 40px;
  font-size: 10px;
}

#unique {
  display: contents;
}

h1 {
  text-align: center;
  font-size: 17px;
  padding: 5px;
  margin: 10px 10px 30px 10px;
}

.botao {
  border-radius: 4px;
  border: solid 1px transparent;
}

.botao:hover {
  cursor: pointer;
}

.botao_assinar {
  padding: 10px 106px;
  margin-top: 5px;
  background-color: #1971c2;
  color: white;
}

.botao_email {
  padding: 10px 80px 10px 10px;
  margin-bottom: 10px;
  background-color: #e9ecef;
}
.botao_email:hover {
  background-color: #dee2e6;
}
.botao_assinar:hover {
  background-color: #1864ab;
}
.botao_assinar:focus {
  border: #000000 2px solid;
}
.botao_email:focus {
  border: 2px solid #000000;
  background-color: #ffffff;
}
