@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap');
body{
    font-family: 'Inter', sans-serif;
    width: 97vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
}
header img{
    height: 35px;
    margin-right: 5px;
}
header h1{
    font-size: 20px;
    font-weight: bolder;
}

main{
    width: 100%;
    height: 90%;
    margin: 10px 0 0 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
}
main h2{
    font-size: 18px;
}

main .cartheader{
    height: 15%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main .cartheader .legenda_itens{
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 15, 15, 0.856);
    border-radius: 4px;
    color: white;
}

main .cartheader .legenda_itens .title{
    font-size: 15px;
    margin: 15px;
}

main .itens_container{
    width: 45%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .itens_container .item{
    height: 45px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: rgba(175, 175, 175, 0.274);
    margin-top: 10px;
}
main .itens_container .item img{
    height: 40px;
    margin-left: 5px;
}
main .itens_container .item .nomeProduto{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .itens_container .item .nomeProduto p{
    width: 100px;
    margin-left: 5px;
}
main .itens_container .item .productPrice{
    font-weight: 400;
    margin-right: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
main .total_container{
    height: 20%;
    width: 45%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
main .total_container .total_info{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(204, 202, 202, 0.603);
    border-radius: 4px;
}
main .total_container .total_info .title{
    font-size: 15px;
    margin: 15px;
}
main .total_container .final{
    height: 45%;
    width: 100%;
    background-color: rgb(23, 194, 137);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
}
main .total_container .final:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 1s;
}