@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  width: 99.5vw;
  height: 99vh;
  background-color: #ffffff;
}
.cabecalho {
  width: 100%;
  height: 13%;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: #ffffff;
}
.cabecalho img {
  margin-left: 20px;
}
.cabecalho .botoes {
  width: 24%;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
.cabecalho .botoes .botao {
  height: 40px;
  width: 150px;
  border-radius: 8px;
  border: 1px transparent solid;
  font-size: 20px;
  background-color: rgb(10, 153, 254, 10%);
  color: #0a99fe;
}
.cabecalho .botoes .botao:hover {
  cursor: pointer;
  background-color: rgb(10, 153, 254);
  color: white;
}
.container_vitrines {
  width: 100%;
  font-size: 20px;
  padding-left: 20px;
  color: #1b1b1b;
  padding-top: 10px;
}
.container_vitrines .vitrine {
  height: 290px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container_vitrines .vitrine .card_produto {
  height: 275px;
  width: 207px;
  border-radius: 8px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 30px;
}
.container_vitrines .vitrine .card_produto .foto_produto {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container_vitrines .vitrine .card_produto .foto_produto img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container_vitrines .vitrine .card_produto .titulo_produto {
  font-size: 20px;
  color: #1b1b1b;
  font-weight: 600;
}
.container_vitrines .vitrine .card_produto .descricao_produto {
  font-size: 16px;
  color: #868383;
  padding-bottom: 10px;
}
