body{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0;
    text-align: center;
  }

ul li{
    display: inline-block;
    margin: 10px;/* Espaçamento entre elementos */
    background-color: purple;
    padding: 10px 20px; /* Prenchimento do elemento, eu quis um retângulo */
    border: 2px solid gray;
    border-radius: 8px;
    
  }

ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
   
  }
