body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    border: 1px black solid;
    height: 50%;
    width: 100%;
}
li{
    height: 20%;
    width: 80%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: dashed black 1px;
    border-radius: 8px;
    margin: 10px;
}
.master{
    background-color:#748ffc;
}
.user{
    background-color:#63e6be;
}

.admin{
    background-color:#ffe066;
}
